/* IMPORT FONTS */
@font-face {
  font-family: kayak-bold;
  src: url("kayak-font/Kayak Sans Bold.otf")
}

@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

* {
    color: white;
    font-family: kayak-bold;
}

html {
  scroll-behavior: smooth;
}

body {
  outline: none;
  margin: 0;
  padding: 0;
  border: none;
  text-align: center;
}

.sidebar {
  top: 35%;
  display: flex;
  flex-direction: column;
  width: 25vw;
  position: fixed;
  z-index: 1;
  background-color: transparent;
  overflow-x: hidden;
}

.sidebar a {
  padding: 10px 0px 6px 0px;
  text-decoration: none;
  font-size: 3vh;
  color: white;
  display: block;
}

.sidebar a:hover {
  text-decoration: underline;
  color: #f1f1f1;
}

.gradient-1 {
  background-image: radial-gradient(circle, #e9d9f9 0%, #ffa500 100%);
}

.gradient-2 {
  background-image: radial-gradient(circle, #d8e2dc 0%, #ffb3c1 100%);
}

.gradient-3 {
  background-image: radial-gradient(circle, #89cff0 0%, #b1f3b1 100%);
}

.gradient-4 {
  background-image: radial-gradient(circle, #90ee90 0%, #f0ceff 100%);
}

.gradient-5 {
  background-image: radial-gradient(circle, #e5b6f7 0%, #ff6ec7 100%);
}

.gradient-6 {
  background-image: radial-gradient(circle, #c8a2c9 0%, #4b0076 100%);
}

.gradient-1, .gradient-2, .gradient-3, .gradient-4, .gradient-5 {
  color: white;
  display: flex;
  justify-content: flex-end;
  background-size: 400% 400%; /* so I can shift bkgd back and forth */
  animation: gradientBackground 10s ease infinite; /* animates */
}

.gradient-6 {
  color: white;
  background-size: 400% 400%; /* so I can shift bkgd back and forth */
  animation: gradientBackground 10s ease infinite; /* animates */
}

@-webkit-keyframes gradientBackground { /* changes posiiton based on curr position */
  0% { background-position: 0% 50%;}
  50% { background-position: 100% 50%;}
  100% { background-position: 0% 50%;}
}

@keyframes gradientBackground {
  0% { background-position: 0% 50%;}
  50% { background-position: 100% 50%;}
  100% { background-position: 0% 50%;}
}

#header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 101vh;
}

#about, #application, #amenities, #insta, #ty {
  display: flex;
  align-items: center;
  height: 101vh;
}

#start, #ty {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 101vh;
}

#start a {
  padding: 20px 0px 0px 0px;
  font-size: 40px;
  text-decoration: none;
}

#start a:hover {
  text-decoration: underline;
  color: #f1f1f1;
}

#about, #application, #amenities {
  width: 65vw;
  justify-content: flex-end;
  margin-right: 15vw;
}

#insta {
  width: 100vw;
  align-items: center;
  justify-content: center;
  margin-right: 0vw;
}

#about {
  flex-direction: row;
}

input[type=submit] {
  border: none;
  font-size: 20px;
  background-color: transparent;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=submit]:hover {
  text-decoration: underline;
  color: #f1f1f1;
}

#test input[type=text] {
  color: black;
}

#about h1, #amenities h1, #insta h1 {
  font-size: 100px;
  margin: 0;
  padding-bottom: 20px;
  line-height: 80%;
}

#test h1, #ty h1 {
  font-size: 100px;
  margin: 0;
  padding: 20px 0px 20px 0px
}

#application h1 {
  font-size: 73px;
  margin: 0;
  padding-bottom: 20px;
  line-height: 80%;
}

#header h1 {
  margin: 0;
  font-size: 20vw;
}

#about h2 {
  margin: 0;
  padding: 10px 0px 10px 0px;
}

#test h2 {
  margin: 0;
  padding: 0px 30px 0px 30px
}

#about img, #amenities img, #application img {
  max-width: 100%;
  width: 85%;
  height: auto;
  padding-bottom: 10px;
}

#insta img {
  max-width: 100%;
  width: 85%;
  height: auto;
}

#amenities ul {
  justify-content: center;
  text-align: left;
  padding: 20px 0px 20px 0px;
  display: table;
  margin: 0 auto;
}

.sec-1 {
  padding-right: 50px;
  padding-left: 50px;
}

.sec-2 {
  padding-right: 50px;
  padding-left: 50px;
}

/* resize at 712px */
@media only screen and (max-width: 1000px) {
  .sidebar {
    top: 0%;
    justify-content: center;
    width: 100vw;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
  }

  .sidebar a {
    padding: 10px 10px 10px 10px;
    text-align: center;
    text-decoration: none;
  }

  .sec-1 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .sec-2 {
    padding-right: 20px;
    padding-left: 20px;
  }

  #about, #application, #amenities  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    margin: 0;
  }

  #insta {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 101vh;
    padding: 0;
    margin: 0;
  }

  #about img {
    padding: 10px 0px 10px 0px;
    max-width: 100%;
    width: 45%;
    height: auto;
  }

  #amenities img {
    padding: 10px 0px 10px 0px;
    max-width: 100%;
    width: 55%;
    height: auto;
  }

  #application img {
    padding: 10px 0px 10px 0px;
    max-width: 100%;
    width: 45%;
    height: auto;
  }

  #about h1, #application h1, #amenities h1 {
    margin: 0;
    padding: 10px 0px 0px 0px;
  }

  #application h1 {
    font-size: 80px;
    padding: 0px 0px 10px 0px;
  }

  #about h2, #application h2, #amenities h2 {
    margin: 0;
    padding: 0px 80px 0px 80px;
  }

  #about h3, #application h3, #amenities h3 {
    margin: 0;
    padding: 10px 80px 20px 80px;
  }
}

@media only screen and (max-width: 581px) {
  #application h1, #amenities h1, #about h1 {
    font-size: 50px;
  }

  #insta img {
    width: 70%;
  }
}
